
.info-box.info-box-graph{
    position: relative;
}

.info-box.info-box-graph .info-box-content{
    padding-right: 100px;
}

.info-box-right{
    position: absolute;
    right: 0;
    top:0;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2)
}

.info-box-number-big {
    font-size: 36px;
}

.info-box-number-medium {
    font-size: 20px;
}

.icon-roi{
    position:relative;
    left:5px;
}

.icon-roi  > span{
    width: 100%;
}

.icon-roi:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    content: '';
    position: relative;
}

.icon-roi.positive:after{
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #fff transparent;
    bottom: 32px;
    left: -30px;
}

.icon-roi.negative:after{
    border-color: #fff transparent transparent transparent;
    bottom: -32px;
    left: -30px;
}

.post-image {
    float: left;
    margin-right: 2em;
    width: 130px;
}

.row.top-margin-2 {
    margin-top: 2em;
}

tr.deleted-post.error {
    background: #ffa3a3 !important;
}

tr.deleted-post.error:hover {
    background: #ff9d9d !important;
}

tr.deleted-post.error a {
    color: #660000 !important;
}

tr.deleted-post.error a:hover {
    color: #a23333 !important;
}

tr.deleted-post td 

.box-body.charts .charts-col {
    text-align: center;
}

.box-body.charts canvas {
    border: 1px solid #f0f0f0;
}

[v-cloak] {
    display: none;
}

.badge.video-label a, .badge.creator a {
    color: #fff;
}

.bg-gray.video-label a {
    color: #666;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.box-tools.pull-right.video-tags {
    max-width: 90%;
}

.info-box-right.average-indicator.negative {
    border: 3px solid #d33724;
}

.info-box-right.average-indicator.positive {
    border: 3px solid #00a65a;
}

.info-box-right.average-indicator.positive.bg-green {
    border: 3px solid #69c394;
}

.info-box-right.average-indicator {
    line-height: 81px;
}