.circle-roi{
  position:relative;
  left:5px;

  > span{
    width: 100%;
  }

  &:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 5px 0 5px;
    content: '';
    position: relative;
  }

  &.positive{
    &:after{
      border-width: 0 5px 7px 5px;
      border-color: transparent transparent $colorGreen transparent;
      bottom: 38px;
      left: -26%;
    }
  }

  &.negative{
    &:after{
      border-color: $colorRed transparent transparent transparent;
      bottom: -40px;
      left: -26%;
    }
  }
}
